<h1>Bookmark Manager</h1>

<div>
  <h2>Goodreads</h2>
  <h3><a href="https://www.goodreads.com/">https://www.goodreads.com/</a></h3>
</div>
<div>
  <h2>Makers Academy</h2>
  <h3><a href="https://makers.tech">https://makers.tech</a></h3>
</div>
